<aside>
	<div class="panel radius">
		<h3>Mission</h3>
		<p>
The <b>mission</b> of the QVEU is to explore questions related to virus evolution, emergence, and pathogenesis through rigorous quantitative experiments and computational biology.

<br><br>The three concepts that motivate the lab are:<br>
<b>Heterogeneity</b> - how do diversity and selection in viral and host cell populations affect the outcome of infection and evolution?<br>
<b>Constraint</b> - what are the forces (biological, genetic, or biophysical) that shape evolutionary processes?<br>
<b>History</b> - how can historical data (either measured or inferred computationally) inform our experiments into viral diversification and emergence?<br>

		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="1k4r_full_illustrate.png" alt="dengue">
		<p class="text-left">
			Interested in viruses, immunity, and molecular evolution? Join us! E-mail a CV and cover letter to <a href="mailto:Patrick.Dolan@nih.gov">(Patrick Dolan, Unit Chief)</a>
		</p>
	</div>
</aside>
