<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
The mission of the QVEU is to explore questions related to virus evolution, emergence, and pathogenesis through rigorous quantitative experiments and computational biology.<br>The three concepts I want to motivate the lab are:
* Heterogeneity - how does diversity and selection in viral and host cell populations affect the outcome of infection and evolution?<br>
* Constraint - what are the forces (biological, genetic, or biophysical) that shape evolutionary processes?<br>
* History - how can historical data (either measured or inferred computationally) be used to enhance our understanding of viral diversification and emergence?<br>

		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="dengue">
		<p class="text-left">
			Interested in viruses, immunity, and molecular evolution? <a href="http://placekitten.com/">Join us!</a>
		</p>
	</div>
</aside>
